.Container {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	padding-left: 20px;
	padding-right: 20px;
	/* max-width: 400px; */
}

/* 완료버튼 */
.complete-button {
	background-color: #0084fc;
	color: white;
	border-radius: 15px;
	width: 210px;
	height: 48px;
	text-align: center;
	line-height: 20px;
	margin-top: 80px;
	font-size: 20px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
